/* ======== Variables ======= */
:root {
	--main-color: #757575;
	--secondary-color: #212121;
	--accent-color: #2196F3;
	--white-color: #FFFFFF;
	--black-color: #000000;
	--bg-dark-color: #2F303A;
	--font-main: 'Roboto', 'Arial', sans-serif;
	--font-secondary: 'Raleway', 'Open Sans', sans-serif;
}
/* ========================== */

/* ======== Global ======= */
body {
	font-family: var(--font-main);
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--main-color);
}

/* .wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
.page {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: 1170px;
	margin: 0 auto;
} */

.hidden__title {
	display: none;
}

/* ======================= */

/* ======= Header ======= */
.header__container-nav {}

.header__nav {}

.header__logo {
	font-family: var(--font-secondary);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	text-decoration: none;
	color: var(--black-color);
}

.logo__accent-nav {
	color: var(--accent-color);
}

.header__nav-links {
	list-style: none;
}

.header__nav-link a {
	font-weight: 500;
	line-height: 1.143px;
	letter-spacing: 0.02em;
	color: var(--secondary-color);
	text-decoration: none;
}

.header__nav-link a:hover,
.header__nav-link a:focus,
.active a {
	color: var(--accent-color);
}


.header__nav-contacts {
	list-style: none;
}

.header__nav-contact a {
	font-weight: 500;
	line-height: 1.143;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--main-color);
}

.header__nav-contact a:hover,
.header__nav-contact a:focus {
	color: var(--accent-color);
}
/* ======================= */

/* ========= Hero ========= */
